<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../Assets/style.css">
    <title>Christopher Colberg Jensen</title>
</head>
<nav class="fixed-top">
<ul class="nav justify-content-center">
    <li class="nav-item"><a class="nav-link" href="../">Home</a></li>
    <!-- <li class="nav-item"><a class="nav-link" href=>Contact</a></li> -->
    <!-- <li class="nav-item"><a class="nav-link" href=>About</a></li> -->
    <li class="nav-item"><a class="nav-link" href="../#projects">Projects</a></li>
</ul>
</nav>
<body>
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <h4 class="display-4 text-left">Movie recommendation for a group of people</h4>
                <hr class="my-4">
                <p> The source code of this project is found at github: <a href="https://github.com/chhoumann/p2">Movie Recommender</a>. Below you find the project report in danish.</p>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                      Courses
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Algorithms and datastructures</li>
                      <li class="list-group-item">Internet and web-programming</li>
                      <li class="list-group-item">Probality theory and linear algebra</li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
    <div class='embed-responsive' style='padding-bottom:100%'>
        <object data='../Assets/ProjectReports/P2.pdf' type='application/pdf' width='100%' height='100%'></object>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>